main{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../images/bg-repeat.jpg) repeat-x;
    background-size: contain;
    padding: 0 3rem;
}

.info{
    max-width: 30rem;
    margin-right: 6rem;
    color: white;
}

.info .title{
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 1.1rem;
}

.info .text{
    font-size: 1.5rem;
}

.form-container{
    background-color: white;
    padding: 0.5rem 2.1rem 2.1rem;
}

.form-container .inputs{
    margin-top: 1.5rem;
    width: 29.8rem;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 0.7rem 0.6rem;
}

.form-container .input-valid{
    outline: auto;
    outline-color: var(--valid-color);
}

.form-container .input-invalid{
    outline: auto;
    outline-color: var(--invalid-color);
}

.form-container .error-alert{
    color: var(--invalid-color);
    font-size: 0.8rem;
    display: none;
}

.form-container p{
    margin-top: 0.7rem;
    font-size: 1.5rem;
}

.form-container .btn{
    width: 29.8rem;
    height: 4.1rem;
    background-color: var(--valid-color);
    border: none;
    color: white;
    margin-top: 2rem;
    cursor: pointer;
}